# constants exposed by package
export( distribution.gamma )
export( distribution.johnson_su )

# functions exposed by package
export( model.symptom_report.stan )
export( symptom_report.simulator )
export( symptom_report.fit )

# required packages
import( rstan )
import( Rcpp )
import( rstantools )
import( StanHeaders )
import( data.table )
import( plotly)
import( moments )
import( R6 )
import( matrixStats )

# dynamic link for Rcpp
useDynLib( EpiLine, .registration = TRUE )
